.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #33bdcc;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 6rem 0;
}
.title {
  font-size: clamp(2rem, 1.4rem + 3.2vw, 4rem);
}
.servicesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}
.service {
  text-align: center;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 12px;
  width: 300px;
  height: 300px;
}
.service > h3,
h3 {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
}
.icon {
  height: 80px;
}
.serviceTitle {
  margin-top: 2rem;
}
