.container {
  background-color: #19526a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../images/Backgrounds/circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 5% 0;
  max-width: 1600px;
}
.title {
  align-self: flex-start;
  font-size: clamp(2rem, 1.4rem + 3.2vw, 4rem);
  margin: 0 auto 2rem auto;
  color: #e0e0e0;
}
.aboutMeContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* background-image: linear-gradient(to bottom right, #090c14f5, #0d131f15);
  backdrop-filter: blur(4px);
   */

  border-radius: 20px;
  padding: 3rem;
  min-width: 100%;
  max-width: 1600px;
}
.aboutMeText {
  font-size: clamp(1rem, 0.85rem + 0.8vw, 1.5rem);
  text-align: left;
  color: #e0e0e0;
  width: 50%;
}
.collegeLink {
  color: #00b1cc;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
}
.collegeLink:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23009FB8' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  font-weight: bolder;
}
.aboutMeImage {
  max-width: 100%;
  width: 50%;
  height: auto;
  max-height: 400px;
  margin-left: 2rem;
}
.skillList {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  padding: 0;
  list-style: none;
  margin-top: 2rem;
}
.skillList > li {
  padding: 3px;
}
.aboutMeText > p {
  white-space: pre-line;
}
@media (min-width: 600px) and (max-width: 1300px) {
  .aboutMeContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutMeText {
    width: 100%;
  }
  .aboutMeImage {
    margin: 4rem 6rem 0rem 6rem;
    width: 100%;
  }
}
@media (max-width: 699px) {
  .aboutMeContainer {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .aboutMeText {
    margin-right: 0;
    width: 100%;
  }
  .aboutMeImage {
    margin: 2rem 6rem;
    width: auto;
  }
  .skillList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0;
    list-style: none;
    margin-top: 2rem;
  }
}
