@import "../../../fonts/typography.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 97%);
  background-image: repeating-linear-gradient(
      45deg,
      rgba(194, 194, 194, 0.1) 0px,
      rgba(194, 194, 194, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      90deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    );
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  position: relative;
}
.bottomWave {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}
.content {
  max-width: 1600px;
  text-align: center;
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  margin: 20em 0 10em 0;
}
.title {
  font-size: clamp(2rem, 1.4rem + 3.2vw, 3rem);
  margin-bottom: 1rem;
  text-align: center;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contactMeImage {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}
.imageContainer {
  width: 50%;
}
.subTitle {
  margin-bottom: 2rem;
  justify-self: start;
  align-self: flex-start;
  text-align: left;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  color: hsl(0, 0%, 40%);
  font-size: clamp(1rem, 0.85rem + 0.8vw, 1.5rem);
}
.imageContainer {
  width: 50%;
}
.formContainer {
  width: 50%;
}
form {
  max-width: 600px;
  /* min-width: 400px; */
  width: auto;
  margin-left: 2rem;
}
label {
  text-align: left;
  margin-bottom: 1rem;
}
.field {
  display: flex;
  flex-direction: column;
}
.actions {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 3rem 0 0;
}
.textInput {
  padding: 12px;
  background-color: transparent;
  border: none;
  border-bottom: 3px hsl(188, 100%, 36%) solid;
  font-size: 1rem;
  outline: none;
  background-color: hsl(0, 0%, 90%);
  border-radius: 5px;
  margin-bottom: 1rem;
}
.textInput:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23009FB8' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border-bottom: none;
}
.textInput:focus::placeholder {
  color: transparent;
}
label {
  margin-bottom: 12px;
}
textarea {
  padding: 12px;
  border: none;
  background: transparent;
  outline: none;
  border-radius: 2px;
  font-size: 1rem;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  border-bottom: 3px hsl(188, 100%, 36%) solid;
  background-color: hsl(0, 0%, 90%);
  border-radius: 5px;
}
textarea:focus::placeholder {
  color: transparent;
}
textarea:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23009FB8' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border-bottom: none;
}
#submit {
  width: auto;
  height: auto;
  border: none;
  color: hsl(0, 0%, 0%);
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  align-self: center;
  font-size: 1rem;
  outline: none;
  padding: 10px;
  border: 3px solid hsl(188, 100%, 36%);
  border-radius: 5px;
  background-color: hsl(0, 0%, 90%);
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
}
#submit:hover {
  background-color: hsl(0, 0%, 80%);
}

@media (max-width: 399px) {
  .content {
    margin: 6em 0 6rem 0;
  }
  .title {
    text-align: center;
  }
  .subTitle {
    text-align: left;
    margin-bottom: 4rem;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .content {
    margin: 10rem 0 7rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1300px) {
  .content {
    margin: 14rem 0 7rem 0;
  }
}
@media (max-width: 1300px) {
  .contactContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .imageContainer {
    width: 100%;
  }
  .formContainer {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  form {
    margin: 2rem 0 0 0;
    width: 100%;
  }
}
