.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #33bdcc;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

/* .aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin: 2rem 0;
  text-align: left;
}

.aboutUs > p {
  max-width: auto;
  color: #fff;
}

.logo {
  width: 150px;
  height: auto;
  max-height: 200px;
}

.navigation {
  margin-bottom: 2rem;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.navigation > li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin: 10px 0;
  padding: 0;
  text-align: left;
}

.navItem > a {
  color: #fff;
  text-align: left;
}

.copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1f2329;
  position: absolute;
  bottom: 0;
}

.copyright {
  margin: 1rem;
  color: #fff;
  text-align: center;
}

.copyright > a {
  text-decoration: none;
  color: #2ea3f3;
}

.phone {
  display: flex;
  align-items: center;
  margin: 2rem 0 2rem 0;
  color: #fff;
}

.email {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
}

.phone > a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
}

.email > a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 2rem;
  width: 100%;
}

.socialMedia {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialMedia > a {
  margin: 1rem;
}

@media (max-width: 899px) {
  .content {
    flex-direction: column;
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  .content {
    flex-direction: row;
    margin-bottom: 6rem;
  }

  .navigation {
    margin-bottom: 2rem;
    text-align: left;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutUs {
    margin: 2rem;
  }

  .aboutUs > p {
    max-width: 300px;
    color: #fff;
  }

  .contactInfo {
    width: auto;
    margin: 1rem;
  }

  .navigation {
    margin: 1rem;
  }

  .socialMedia {
    margin: 1rem;
  }
}

@media (min-width: 1300px) {
  .content {
    flex-direction: row;
    margin-bottom: 4rem;
  }

  .navigation {
    margin-bottom: 2rem;
    text-align: left;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutUs {
    margin: 2rem;
  }

  .aboutUs > p {
    max-width: 350px;
    color: #fff;
  }

  .contactInfo {
    width: auto;
    margin: 2rem;
  }

  .navigation {
    margin: 2rem;
  }

  .socialMedia {
    margin: 2rem;
  }
} */
