.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  height: 100px;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}
.spacer {
  display: flex;
  flex: 1;
  margin-right: auto;
}
.copyright {
  color: white;
  font-size: clamp(1rem, 0.85rem + 0.8vw, 1rem);
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  display: flex;
  flex: 1;
  justify-content: center;
}
.icons {
  display: flex;
  flex: 1;
  margin-left: auto;
  margin-right: 20px;
  justify-content: flex-end;
}
.icon {
  margin: 10px;
  height: 30px;
  width: auto;
  color: hsl(0, 0%, 97%);
}
.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .container {
    height: auto;
  }
  .content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .icons {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  .copyright {
    margin: 20px 0 10px 0;
  }
  .icons {
    margin-bottom: 10px;
  }
  .spacer {
    display: none;
  }
}
