.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #141414;
}
.content {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
}
.copyright {
  color: white;
  font-size: clamp(1rem, 0.85rem + 0.8vw, 1rem);
  text-align: center;
}
.icon {
  margin: 10px;
  height: 30px;
  width: auto;
}
.icons {
  position: absolute;
  right: 50px;
}
