.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../images/Backgrounds/bottomwave.svg"),
    url("../../../images/Backgrounds/topwave.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}
.content {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20% 0;
  width: 75%;
  text-align: center;
}
.title {
  font-size: clamp(2rem, 1.4rem + 3.2vw, 4rem);
  margin-bottom: 6rem;
  text-align: center;
}
.card {
  position: relative;
  border-radius: 10px;
  height: auto;
  overflow: hidden;
  margin-bottom: 4rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 24px 0 hsla(0, 0%, 41%, 0.445),
    0 3px 9px 0 hsla(0, 0%, 59%, 0.432);
  height: auto;
  width: 700px;
  max-width: 100%;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0rem;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
  background-image: linear-gradient(to bottom right, #141414, #141414);
  contain: strict;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  transition: 0.5s ease;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}
.card:hover .overlay {
  opacity: 0.9;
}
.overlayContent {
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #fff;
}
.cardTitle {
  font-size: clamp(1rem, 0.85rem + 0.8vw, 1.5rem);
  padding: 20px 0 10px 0;
}
.cardDescription {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 0.85rem + 0.8vw, 1.5rem);
}
.imageContainer {
  border-radius: 10px;
  overflow: hidden;
}
.icon {
  height: 100px;
  width: auto;
  fill: #fff;
  margin: 2rem;
}
.icons :hover {
  filter: drop-shadow(0 0 6px #fff);
}
.icons {
  text-decoration: none;
  color: #fff;
  margin: 3rem;
}
.mobileIcons {
  display: none;
}

@media (min-width: 630px) and (max-width: 799px) {
  .card {
    width: 550px;
  }
}
@media (min-width: 380px) and (max-width: 629px) {
  .card {
    width: 350px;
  }
  .cardContent {
    padding: 20px;
    align-items: left;
    text-align: left;
  }
  .cardContent {
    padding: 10px;
    align-items: left;
    text-align: left;
  }
  .cardTitle {
    padding: 10px 0 10px 0;
  }
  .overlay {
    display: none;
  }
  .icon {
    height: 30px;
    margin: 0rem;
  }
  .icons {
    text-decoration: none;
    color: #fff;
    margin: 10px;
  }
  .mobileIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
  }
  .iconLabel {
    display: none;
  }
}
@media (max-width: 379px) {
  .card {
    width: 280px;
  }
  .cardContent {
    padding: 20px;
    align-items: left;
    text-align: left;
  }
  .title {
    text-align: left;
  }
  .cardContent {
    padding: 10px;
    align-items: left;
    text-align: left;
  }
  .cardTitle {
    padding: 10px 0 10px 0;
  }
  .overlay {
    display: none;
  }
  .icon {
    height: 30px;
    margin: 0rem;
  }
  .icons {
    text-decoration: none;
    color: #fff;
    margin: 10px;
  }
  .mobileIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
  }
  .iconLabel {
    display: none;
  }
}
